<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" id="cadButton" href="/books">Ver livros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="cadButton" href="/books/cadastrar">Cadastrar Livro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books/adicionarvarios">Adicionar vários</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books/listar">Listar e pesquisar livros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/auth/logout">Sair do Sistema</a>
  </li>
</ul>